/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 688px) {
  .players-banner {
    width: 100%;
    align-items: center;
  }
  .banner {
    margin-top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .blogs {
    width: 90%;
  }
  .thumbnail {
    width: 90%;
    margin-top: 50px;
  }
  .players {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    margin: 27px 0;
  }
}

@media only screen and (min-width:688px) and (max-width:992px) {
  .players {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    margin: 27px 0;
  }
}